footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border: 2px;
}

body {
  margin-bottom: 80px;
  padding-top: 56px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2%;
  padding: 0px;
  gap: 16px;

  width: 708px;
  height: 190px;
  left: 323px;
  top: 115px;

  border: 1px solid #dee2e6;

  border-radius: 4px;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(100% / 3 - 20px);
  margin: 10px;
}

.filter-container {
  position: fixed;
  top: 20%;
  right: 80px;
  z-index: 999;
}