  

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 0px;
    gap: 16px;
  
    width: 708px;
    height: 190px;
  
    border: 1px solid #dee2e6;
  
    border-radius: 4px;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
  }